@import "./page1.scss";
@import "./page2.scss";
@import "./page3.scss";
@import "./page4.scss";
@import "./page5.scss";
@import "./page6.scss";
@import "./page7.scss";
@import "./page8.scss";
@import "./page9.scss";
@import "./page10.scss";
@import "./page11.scss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Calque_2 {
  animation: bounce 4.7s ease-in-out;
  animation-iteration-count: 50;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-10px);
  }
}


.img-invasive-add{
  position: absolute;
  width: 5vw;
  height: 5vw;
  background-size: contain;
  object-fit: contain;
}

.cls-2:before, .cls-3:before, .cls-4:before, .cls-5:before, .cls-6:before, .cls-7:before, .cls-8:before, .cls-9:before {
  fill: #D9D9D9;
  stroke: #4D997A;
  stroke-width: 2px;
}
.img {
  background-image: url("./public/assets/img/Illustration_sans_titre-11-1.png");
  background-position: top left;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  width: 1190px;
  height: 834px;
}

.sb3:after {
  content: url(../assets/img/polygonmessage.svg);
  align-self: flex-end;
  margin-bottom: 4px;
  width: 0;
  height: 0;
  //filter: drop-shadow(0 20px 15px rgba(79, 47, 47, 0.2));
}

#page2 .sb3:after {
  margin-left: -743px;
}
#page8 .sb3:after {
  margin-right: 687px;
}

#page5 .sb3:after,
#page9 .sb3:after {
  margin-left: -807px;
}

.next_button, #page8 .goToNextPage {
  position: absolute;
  right: 70px;
  bottom: 60px;
}

.next_button,
button[class^=goTo] {
  display: flex;
  background: linear-gradient(180deg, #65C1A3 0%, #A2DAAF 100%);
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 32px;
  color: white;
  font-weight: 500;
  font-size: 28px;
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body>section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  border: solid 2px black;
}

body>section>div {
  width: 100vw;
  height: 100vh;
}